{
  "extends": "semantic-release-monorepo",
  "branches": [
    "main"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github",
    "@semantic-release/npm"
  ],
  "repositoryUrl": "https://github.com/RIOT-JS/riot.js"
}
